<form method="POST" action="{{ url_for('guardar_formulario') }}">
    <div class="productos">
        {% for descripcion in descripciones %}
        <div class="producto">
            <div class="campo">
                <label for="cantidad_{{ loop.index }}">Cantidad</label>
                <input type="text" id="cantidad_{{ loop.index }}" name="cantidad_{{ loop.index }}">
            </div>
            <div class="campo">
                <label for="cant_requerida_{{ loop.index }}">Cantidad Requerida</label>
                <input type="text" id="cant_requerida_{{ loop.index }}" name="cant_requerida_{{ loop.index }}">
            </div>
            <div class="campo">
                <label for="marca_{{ loop.index }}">Marca</label>
                <select name="marca_{{ loop.index }}" id="marca_{{ loop.index }}">
                    <option value="BAHCO">Marca 1</option>
                    <option value="TRUPER">Marca 2</option>
                    <option value="RACING">Marca 3</option>
                    <option value="STANLEY">Marca 4</option>
                    <option value="PROTO">Marca 5</option>
                    <option value="VISEGRIP">Marca 6</option>
                    <option value="IRIMO">Marca 7</option>
                    <option value="URREA">Marca 8</option>
                    <option value="INGERSOLL RAND">Marca 9</option>
                </select>
            </div>
            <div class="campo">
                <label for="referencia_{{ loop.index }}">Referencia</label>
                <input type="text" id="referencia_{{ loop.index }}" name="referencia_{{ loop.index }}">
            </div>
            <div class="campo">
                <label for="estado_{{ loop.index }}">Estado</label>
                <input type="text" id="estado_{{ loop.index }}" name="estado_{{ loop.index }}">
            </div>
        </div>
        {% endfor %}
    </div>
    <button type="submit">Guardar</button>
</form>